@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

:root {
	/* ! COLORS */
	--primary-clr: #f0f3ff;
	--secondary-clr: #211951;
	--primary-accent: #15f5ba;
	--secondary-accent: #836fff;

	/* !FONTS */
	--header-ff: 'Shrikhand', serif;
	--text-ff: 'Roboto', serif;

	/* !FONT SIZES */
	--ff-primary: 14px;
	--ff-small: 16px;
	--ff-med: 24px;
	--ff-large: 36px;
	--ff-xl: 48px;
	--ff-header: 72px;

	/* !ANIMATIONS */
	--transition: 0.3s all ease;
}

body,
html {
	padding: 0;
	margin: 0;
}

/* !default font families */
h1,
h2,
h3,
label {
	font-family: var(--header-ff);
	margin: 0;
	padding: 0;
}

a,
p,
input {
	font-family: var(--text-ff);
	margin: 0;
	padding: 0;
}

button,
a {
	cursor: pointer;
}

/* default font sizes */
h1 {
	font-size: var(--ff-header);
}

h2 {
	font-size: var(--ff-large);
}

h3 {
	font-size: var(--ff-med);
}

p,
input {
	font-size: var(--ff-primary);
}

button,
a {
	font-size: var(--ff-small);
}

a {
	text-decoration: none;
}
